<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>

<link href="{{ page.base_url }}dist/wysihtml5-styled-bs3/css/wysihtml5-styled-bs3.css" rel="stylesheet">
<script src="{{ page.base_url }}dist/wysihtml5-styled-bs3/js/advanced.js"></script>
<script src="{{ page.base_url }}dist/wysihtml5-styled-bs3/js/wysihtml5-styled-bs3.js"></script> 
