<header class="navbar">
	<div class="navbar-inner">
	<div class="container">
		 <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</a>
 
		<a class="brand" href="/">Wysihtml5 styled</a>
 
		<div class="nav-collapse collapse">
		<ul class="nav">
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Boostrap 2.3.2 <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li{% if page.slug == "wysihtml5-minimal-bs2" %} class="active"{% endif %}>
				<a href="{{ page.base_url }}wysihtml5-minimal-bs2">
					Minimal
				</a>
				</li>
				<li{% if page.slug == "wysihtml5-standard-bs2" %} class="active"{% endif %}>
				<a href="{{ page.base_url }}wysihtml5-standard-bs2">
					Standard
				</a>
				</li>
				<li{% if page.slug == "wysihtml5-advanced-bs2" %} class="active"{% endif %}>
				<a href="{{ page.base_url }}wysihtml5-advanced-bs2">
					Advanced
				</a>
				</li>
			</ul>
			</li>
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Boostrap 3 <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li{% if page.slug == "wysihtml5-minimal-bs3" %} class="active"{% endif %}>
				<a href="{{ page.base_url }}wysihtml5-minimal-bs3">
					Minimal
				</a>
				</li>
				<li{% if page.slug == "wysihtml5-standard-bs3" %} class="active"{% endif %}>
				<a href="{{ page.base_url }}wysihtml5-standard-bs3">
					Standard
				</a>
				</li>
				<li{% if page.slug == "wysihtml5-advanced-bs3" %} class="active"{% endif %}>
				<a href="{{ page.base_url }}wysihtml5-advanced-bs3">
					Advanced
				</a>
				</li>
			</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Boostrap Indepedant <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li{% if page.slug == "wysihtml5-minimal-bsi" %} class="active"{% endif %}>
					<a href="{{ page.base_url }}wysihtml5-minimal-bsi">
						Minimal
					</a>
					</li>
					<li{% if page.slug == "wysihtml5-standard-bsi" %} class="active"{% endif %}>
					<a href="{{ page.base_url }}wysihtml5-standard-bsi">
						Standard
					</a>
					</li>
					<li{% if page.slug == "wysihtml5-advanced-bsi" %} class="active"{% endif %}>
					<a href="{{ page.base_url }}wysihtml5-advanced-bsi">
						Advanced
					</a>
					</li>
				</ul>
			</li>
		</ul>
		</div>
	</div>
	</div>
</header> 