// Show text in modal called from toolbar
.btn-toolbar {
  font-size: @baseFontSize;
}
.btn-toolbar.inverse {
  // Change the color of inverse toolbar buttons
  @btnBackground:                     #444;
  @btnBackgroundHighlight:            #444;
  @btnBorder:                         #444;
  .btn{
    .buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDarker, 0 1px 1px rgba(255,255,255,.75));
      color: @white;
      text-shadow:0px 1px 2px @black;

      &:hover{
      color: @white;
    }
    }

  .btn.active {
    background-color: lighten(@btnBackground, 15%);
    background-position: 0 -30px;
  }

    [class^="ap-small-icon-"],
  [class*="ap-small-icon-"] {
    background-image: url("../img/sprite-ap-small-icons-white.png");
  }

  .btn-primary {
    .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
  }
  .btn-warning {
    .buttonBackground(@btnWarningBackground, @btnWarningBackgroundHighlight);
  }
  .btn-danger {
    .buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
  }
  .btn-success {
    .buttonBackground(@btnSuccessBackground, @btnSuccessBackgroundHighlight);
  }
  .btn-info {
    .buttonBackground(@btnInfoBackground, @btnInfoBackgroundHighlight);
  }
  .btn-inverse {
    .buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
  }

  .dialog-wysihtml5{
    background-color: @btnBackground;
    color: @white;
  }
  .switchon{
    border: 1px solid @btnBorder;
    .slide{
      .buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDark, 0 1px 1px rgba(255,255,255,.75));
    }
  }

  .switchon.active {
    background-color: lighten(@btnBackground, 15%);
    text-shadow: 0px 1px 1px @gray;
  }

  .modal{
    color:@textColor;
  }
}

.btn-toolbar-small .btn {
    padding: 4px 8px;
    span {
      .transition(opacity .7s ease-in);
      opacity: 1;
  }
}

.wysihtml5-disabled .btn span {
    .transition(background .7s ease-in);
    opacity: 0.5;
}

.switchon {
    .transition(background .7s ease-in);
  color: @textColor;
  text-shadow:0px 1px 2px @white;
  display: inline-block;
  .ie7-inline-block();
  margin-bottom: 0; // For input.btn
  font-size: @baseFontSize;
  cursor: pointer;
  background-color: @btnSuccessBackground;
  border: 1px solid @btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  border-bottom-color: darken(@btnBorder, 10%);
  .border-radius(@switchBorderRadius);
  .ie7-restore-left-whitespace(); // Give IE7 some love
  .box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");
  position: relative;
  height: 28px;
  width: 60px;
  &:hover{
    text-decoration: none;
  }

  .slide{
    display: inline-block;
    position: absolute;
    width: 50%;
    .buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDark, 0 1px 1px rgba(255,255,255,.75));
    .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");
    top:0;
    left:50%;
    height:100%;
    .border-radius(@switchBorderRadius);
    .ie7-inline-block();
    .transition(left 0.3s ease-in);
  }
  .on,.off{
    line-height: 28px;
    text-align: center;
    width:50%;
    height:100%;
    display: inline-block;
    .ie7-inline-block();
  }
  .on{
    left:0;
    color: darken(@successText, 10%);
  }
  .off{
    right:0;
    position:absolute;
    color: @grayLight;
  }
}

.switchon.active {
  background-color: @btnBackgroundHighlight;
  .slide{
    .transition(left 0.3s ease-in);
    left:0;
  }
}

textarea.wysihtml5-textarea {
    line-height: auto;
    font-size: @baseFontSize;
    color: @textColor;
    width: 100%;
  height: 400px;
    /* font-family: monospace; */
}

.dialog-wysihtml5{
  width: 99%;
  background-color: @btnBackgroundHighlight;
  color: @textColor;
  .border-radius(@baseBorderRadius);
  padding: 4px 12px;
  margin-top: 9px;

  label{
    margin-right: 5px;
    display: inline-block;
    padding-top: 5px;
    vertical-align: middle;
    text-align: right;
  }
  input{
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
  select{
    margin: 0 5px 0 0;
  }
  .btn-toolbar{
    display: inline-block;
  }
}

.help{
  margin-left: 5px;
}

#helpModal{
  
  .dl-horizontal dt{
    width: 125px;
    text-align: left;
  }

  .dl-horizontal dd {
    margin-left: 145px;
  }
}
