<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Wysihtml5 styled">
	
	{% if page.type == "bs2" %}
		{% include header-bs2.html %}
	{% elsif page.type == "bs3" %}
		{% include header-bs3.html %}
	{% elsif page.type == "bsi" %}
		{% include header-bsi.html %}
	{% endif %}

	<title>{{ page.title }}</title>
</head>
<body>
	
	{% if page.type == "bs3" %}
		{% include nav-bs3.html %}
	{% else  %}
		{% include nav-bs2.html %}
	{% endif %}
	
	<div class="container">
		<section class="row">
			{{ content }}
		</section>
	</div>

	{% if page.type == "bs2" %}
		{% include footer-bs2.html %}
	{% elsif page.type == "bs3" %}
		{% include footer-bs3.html %}
	{% elsif page.type == "bsi" %}
		{% include footer-bsi.html %}
	{% endif %}
</body>
</html>
